.topo{
    background-color: #523961;
}

.texto{
    background-color: #b22148;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.rodape{
    background-color: #9d007a;
    font-size: larger;
}